* {
  margin: 0;
}

button {
  padding: 2px;
  margin-left: 10px;
  width: 120px;
  height: 50px;
  border-radius: 1.7em;

  font-size: 17px;
}

.page {
  margin-bottom: 30px;
}

.imgContainer:hover{
  background-color: #fcd757;
  transform: scale(1.1);
  margin-bottom: 20px;
}

.photoGallery {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;

  justify-content: space-around;
  align-content: flex-start;
}
@media screen and (max-width: 900px) {
  li {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  li {
    font-size: 20px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 700px) {
  li {
    font-size: 17px;
    margin-left: 5px;
  }
  .welcomeText, .user-details {
    transform: scale(0.5);
    font-size: 17px;

}
}
@media screen and (max-width: 600px) {
  li {
    margin-left: 5px;
  }
}


@media screen and (max-width: 650px) {
  .searchbar, .page, nav {
    transform: scale(0.6);
  }
  li {
    font-size: 15px;
  }
  .welcomeText {
    transform: scale(0.4);
    font-size: 15px;
    
  }
  .page1 {
    margin-left: 150px;
  }
  .page {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .page1 {
    margin-left: 100px;
  }
  li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .photoGallery {
    
  }
  
  .page1 {
    margin-left: 70px;
  }
}


.imgContainer {
  flex: 2 0 21%;
  margin: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

  width: 300px;
  height: 400px;
  object-fit: cover;
}

.searchbar {
  position: relative;
}
label {
  position: absolute;
  right: 0;
  margin-right: 20px;
  font-size: 17px;
}

h1 {
  margin: 20px;
  color: black;
}
