body {
  background-color: #735e25;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

li{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

li:visited{
  color: black;
}

Link{
  text-decoration: none;
  color:inherit;
  pointer-events:none;
}

Link:active{
  color: black;
}

Link:hover{
  background-color: #735e25;
}

nav{
  background-color: #1998cf;
}

.App{
 position: relative;
}

footer{
  position: fixed;
  bottom: 0;
  background-color: #1998cf;
  width: 100vw;
  padding: 0;
  margin:0;
}

