@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  background-color: #fff5f3;
  
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-self: center;
}

li {
  font-size: 36px;
}

nav {
  background-color: #480910;
  width: 100vw;
  height: 60px;
  box-sizing: border-box;
}

.App {
  position: relative;
}

footer {
  position: absolute;
  background-color: #480910;
  width: 100vw;
  height: 20px;
  padding: 0;
  margin: 0;
  color: #fff;
 
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #FCD757;
}

.auth-form {
  margin-top: 10px;
}

.loginForm {
  position:relative;
  display: flex;
  min-width: 100px;
  max-width: 25%;
  margin-top: 50px;
  align-items: center;
  margin-left: 43%;

}
.loader {
  margin: 100px auto;
}

.user-details {
  display: flex;
  justify-content: space-between;
}
.user-actions {
  display: flex;
  flex-direction: column;
}

.loginWelcome {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomeText {
  margin-top: 50px;
  font-size:xx-large;
}
.welcomeLogin {
  font-size: medium;
}