body {
  background-color: #fff5f3;
  
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-self: center;
}

li {
  font-size: 36px;
}

nav {
  background-color: #480910;
  width: 100vw;
  height: 60px;
  box-sizing: border-box;
}

.App {
  position: relative;
}

footer {
  position: absolute;
  background-color: #480910;
  width: 100vw;
  height: 20px;
  padding: 0;
  margin: 0;
  color: #fff;
 
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #FCD757;
}
