@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  background-color: #FFF5F3;
  font-family: 'Roboto', sans-serif;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-self: center;
}

li{
  font-size: 36px;
}

nav{
  background-color: #480910;
  width: 100vw;
  box-sizing: border-box;
}

.App{
 position: relative;
}

footer{
  position: absolute;
  background-color: #480910;
  width: 100vw;
  height: 20px;
  padding: 0;
  margin:0;
  color: #fff;
}

a{
  text-decoration: none;
}

a:visited{
  color: #fff
}

a:hover{
  background-color: #9c9a89;
}
.auth-form {
  margin-top: 10px;
}

.loader {
  margin: 100px auto;
}

.user-details {
  display: flex;
  justify-content: space-between;
}
.user-actions {
  display: flex;
  flex-direction: column;
}

