body {
  background-color: #9c1422;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-self: center;
}

li{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

nav{
  background-color: #e6d600;
  width: 100vw;
  box-sizing: border-box;
}

.App{
 position: relative;
}

footer{
  position: fixed;
  bottom: 0;
  background-color: #e6d600;
  width: 100vw;
  height: 20px;
  padding: 0;
  margin:0;
}

a{
  text-decoration: none;
}

a:visited{
  color: black
}

a:hover{
  background-color: #9c9a89;
}

